/* .App {
  text-align: center;
} */

nav ul{
  list-style: none;

}

nav li{
  display: inline;
  padding: 10px;
  
}

.nav-bar{
  width: 170px;
  height: 100vh;
  background-color: #545252;
}

.main-div{
  display: flex;
}
.nav-bar ul{
  list-style: none;
}



*{
  border: 0;
  background-color: #f5f5f5;
}


/*top bar css*/
.top-bar{
  background-color: #fff ;
  border: 0.5px solid rgba(24, 24, 24, 0.27) ;
  margin:20px;
  width: 1145px;
  align-items: baseline;
}
.top-bar ul{
  list-style: none;
  background-color: #fff;
}

.top-bar ul li{
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
